<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	{{> navbar}}
    	</div>
</nav>
<div class="wrapper">
	<div class="header header-filter" style="background-image: url('../assets/img/fondohome.jpg'); ">
		<div class="container">
			<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-8 offset-md-2">
					<h1 class="title text-right">Combustible y Más: Descubre Nuestra Variedad de Productos y Servicios</h1>
					<h4>
						No solo abastecemos tu vehículo con combustibles de calidad, sino que también te ofrecemos una amplia gama de productos y servicios para hacer tu visita aún más conveniente y placentera. Desde snacks y bebidas hasta artículos de cuidado automotriz y necesidades de viaje, nuestra estación de servicio es tu destino completo para satisfacer todas tus necesidades en un solo lugar. Descubre la comodidad y la variedad que te ofrecemos en Combustible y Más, ¡tu parada perfecta en el camino
					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="description">Nuestros productos</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
	{{> footer}}
</div>    

	